/* TODO Add site wide styles */
body{
    margin: 0px;
    font-family: “Helvetica Neue”,Helvetica,Arial,sans-serif;
}
.body{
    display: flex;
    width: 100%;
}
.side-nav{
    width: 30%;
    min-width: 280px;
}

a{
    text-decoration: none;
    color: black;
}

button{
    height: 25px;
    background-color: #019ddb;
    color: white;
    border: none;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: #019ddb;
    border: 1px solid #019ddb;
}