.form-body{
    width: 100%;
    margin: 10px 35% 20px 10%;
}
.product-form{
    display: flex;
    flex-direction: column;
}
.product-input{
    width: 100%;
}
label{
    width: 100%;
}
.price{
    display: flex;
    gap: 5px;
    width: 100%;
}
.category-condition{
    display: flex;
    gap: 5px;
    width: 100%;
}
.category-condition > label{
    width: 50%;
}