.socials-card {
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 200px;
    background-color: #019edb;
    color: white;
    padding: 10px;
    display:flex;
    flex-direction: column;
    gap: 5px;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    padding: 10px;
}

.socials-title{
    font-size: 20px;
}

.icon-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

#icon{
    color: white;
    font-size: 22px;
}