.nav{
  background-color: #019edb;
  display: flex;
  flex-direction: row;
}

.search-bar-cont{
  display: flex;
  align-items: center;
  align-content: center;
}

.logo{
  width: 160px;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}