.event-page{
    flex: 70%;
    gap: 5px;
}

.event-image{
    width: 100%;
    height: 400px;
    position: relative;
}

.event-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event-image button{
    position: absolute;
    top: 2px;
	right: 2px;
	width: auto;
    border: solid black 2px;
}

.event-title{
    font-size: 30px;
}

.description-cont{
    padding-top: 20px;
}

.side-info{
    flex: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}


.product-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 10px;
    overflow: auto;
    max-height: 700px;
}

.product-a{
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-a:hover{
    transform: scale(1.009);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product-card{
    width: 100%;
}

.product-img-cont{
    width: 100%;
    height: 300px;
}

.product-img-cont img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

